.about {
    width: 95%;
    height: 100%;
    margin-top: 70px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-block-h1{
    padding: 10px;
    color: white;
    font-size: 36px;
    font-family: fredoka, Arial;
    text-align: center;  
}

.card{
    width: 100%;
    min-height: 400px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.card-image-rounded{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.card-text{
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: fredoka, Arial;
    word-wrap: break-word;
    width: 90%;
    padding-bottom: 10px;
}