*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
      margin: 0;
      height:100%;
      width:100%;
      padding:0;
  }
  
  .main-header{
    width: 100%;
    background-color: #005096;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
	flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
	justify-content:space-between;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    position: fixed;
    z-index: 1;
  }
  
  .logo{
      display:flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      padding:14px 22px;
      margin: 5px 5px;
  }
  
  .logo-caption{
      font-size: 18px;
      font-family: fredoka, Arial;
      padding-left: 5px;
      color: white;
  }

  .icon-white {
    color: white;
  }
  
  .small-menu{
      align-self: flex-end;
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      color: white;
      padding:14px 22px;
      margin: 5px 5px;
  }

  .small-menu:hover{
      cursor: pointer;
  }
  
  .main-menu{
    list-style-type: none;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    align-self: flex-end;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
  }
  
  .main-menu li a, .full-menu-link{
    background-color: #005096;
    padding: 14px 16px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    text-align:center;
    font-size: 16px;
    font-family: fredoka, Arial;
    cursor: pointer;
    margin: 5px 5px;
    display: inline-block;
    transition: 0.5s;
  }

  .full-menu-link{
      background-color: #0b70c5;
      font-size: 1.8em;
  }
  
  .main-menu li a:hover, .full-menu-link a:hover{
    background-color: #0b70c5;
  }

  .full-menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #005096;
    background-color: rgba(0, 80, 150, 0.8);
    overflow-y: hidden;
    transition: 0.7s;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction:column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }

  .full-menu .closebtn {
    position: absolute;
    top: 1%;
    right: 2%;
    z-index: 200;
    font-size: 40px;
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 50%;
    color: white;
    font-family: Arial;
    background-color: #005096;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }

  .closebtn:hover{
      cursor: pointer;
  }

  .home{
      background-image: url(../images/wide-john.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100vh;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction:column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      justify-content: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
  }
  
  .main-label{
      background-color: #005096;
      padding: 14px 36px;
      border-radius: 50px;
      color: white;
      font-size: 36px;
      font-family: fredoka;
      margin: 5px 5px;
      text-align: center;
  }
  
  .sub-label{
      background-color: #005096;
      padding: 14px 22px;
      border-radius: 50px;
      color: white;
      font-size: 20px;
      font-family: fredoka;
      margin: 5px 5px;
      text-align: center;
  }
  
  .info-block{
      width: 100%;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      justify-content: center;
  }
  
  .info-block-item{
      height: 400px;
      width: 60%;
      max-width: 845px;
  }
  
  .info-block-image{
      height: 400px;
      width: 40%;
      max-width: 845px;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      justify-content: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
  }
  
  .bg-1{
      background-color: #0b70c5;
  }
  
  .bg-2{
      background-color: #fc3c3c;
  }
  
  .block-image{
      max-width: 90%;
      height: 90%;
      min-width: 260px;
      min-height: 260px;
      border-radius: 50%;
  }
  
  .info-block-h1{
      padding: 10px;
      color: white;
      font-size: 32px;
      font-family: fredoka, Arial;
  }
  
  .info-block-h2{
      padding: 10px;
      color: white;
      font-size: 28px;
      font-family: fredoka, Arial;
  }
  
  .info-block-p{
      color: white;
      font-size: 18px;
      font-family: fredoka, Arial;
      padding: 10px;
      word-wrap: break-word;
  }
  
  .card-block{
      width: 100%;
      padding: 20px;
  }
  
  .card-block-h1{
      padding: 10px;
      color: #0b70c5;
      font-size: 36px;
      font-family: fredoka, Arial;
      text-align: center;  
  }

  .card-block-h2{
    padding: 10px;
    color: #0b70c5;
    font-size: 30px;
    font-family: fredoka, Arial;
    text-align: center;  
  }

  .card-block-h3{
    padding: 10px;
    color: #0b70c5;
    font-size: 22px;
    font-family: fredoka, Arial;
    text-align: center;  
  }
  
  .card-block-h1-red{
      padding: 10px;
      color: #fc3c3c;
      font-size: 36px;
      font-family: fredoka, Arial;
      text-align: center;  
  }
  
  .card-container{
      width: 100%;
      min-height: 520px;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
	  justify-content:space-around;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
  }
  
  .card{
      width: 30%;
      min-height: 400px;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      justify-content: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      align-items: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
  }
  
  .card-image{
      width: 90%;
      height: 200px;
  }
  
  .card-image-rounded{
      width: 250px;
      height: 250px;
      border-radius: 50%;
  }
  
  .card-h2{
      padding: 10px;
      color: #0b70c5;
      font-size: 22px;
      font-family: fredoka, Arial;
      text-align: center;
  }
  
  .card-h2-red{
      padding: 10px;
      color: #fc3c3c;
      font-size: 22px;
      font-family: fredoka, Arial;
      text-align: center;
  }
  
  .card-text{
      text-align: center;
      color: #0b70c5;
      font-size: 16px;
      font-family: fredoka, Arial;
      word-wrap: break-word;
      width: 90%;
      padding-bottom: 10px;
  }
  
  .card-text-red{
      text-align: center;
      color: #fc3c3c;
      font-size: 16px;
      font-family: fredoka, Arial;
      word-wrap: break-word;
      width: 90%;
      padding-bottom: 10px;
  }

  .info-block-form{
    width: 100%;
    min-height: 500px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-direction: column;
  }

  .form-container{
      width: 40%;
      min-height: 480px;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border-radius: 8px;
      margin: 8px;
  }

  .form-block{
      width: 95%;
      margin: 8px;
  }

  .form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row select {
    width: 300px;
    background-color: #e3e5e8;
    border: 3px solid #D6D9DC;
    padding: 7px;
    border-radius: 50px;
    transition: 0.5s;
    outline: none;
    font-family: fredoka, Arial;
    color: #0b70c5;
  }

  .form-row textarea {
    width: 300px;
    height: 300px;
    background-color: #e3e5e8;
    border: 3px solid #D6D9DC;
    padding: 10px;
    border-radius: 25px;
    outline: none;
    font-family: fredoka, Arial;
    color: #0b70c5;
    resize: none;
  }

  .form-row input[type='text']:focus,
  .form-row input[type='email']:focus,
  .form-row select:focus,
  .form-row textarea:focus {
    border: 3px solid #0b70c5;
  }

  .form-row label {
      margin-right: 10px;
      margin-bottom: 5px;
      margin-top: 0px;
      font-size: 18px;
      font-family: fredoka, Arial;
      color: #0b70c5;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #0b70c5;
  
    border: none;
    border-radius: 50px;
  
    padding: 10px 40px;
    cursor: pointer;
  }

  .main-footer {
      min-height: 200px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #005096;
  }

  .contact-info {
    padding-left: 10px;
    padding-right: 10px;
}

.info-text {
    color: white;
    font-size: 18px;
    font-family: fredoka, Arial;
    font-weight: 800;
    letter-spacing: 2px;
    word-break: break-all;
}

.map-container {
    width: 300px;
    height: 300px;
    padding: 10px;
}

.map-card {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    z-index: 0;
}

.contact-info, .schedule-container {
    margin-right: 10px;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    margin-left: 10px;
}


.schedule-slider {
    width: 100%;
    min-height: 55px;
    overflow-x: auto; 
    display: flex;
}

.schedule-slider::-webkit-scrollbar {
    display: none;
  }

.schedule-item {
    width: 150px;
    height: 100%;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-family: fredoka, Arial;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #0b70c5;
    flex-shrink: 0;
    margin-right: 10px;
}

.main-footer:last-child {
    margin-right: 0px;
}

.note-slider {
    padding: 10px;
    color: white;
    font-size: 18px;
    font-family: fredoka, Arial;
    letter-spacing: 2px;
    text-align: center;
}


  /* background-color: #0c90fb;
background-image: linear-gradient(135deg, #0c90fb 30%, #fc3c3c 72%);
*/
@media only screen and (max-width: 360px) {
    .info-block-image{
        height: 350px;
    }

    .main-label{
        font-size: 30px;
    }

    .sub-label{
        font-size: 18px;
    }
}
  
  @media only screen and (max-width:490px) {
      .home{
          background-image: url('../images/small-john.jpg');
      }
  
      .sub-label{
          padding: 10px 10px;
      }
  
      .main-menu {
          visibility:hidden;
          width: 0px;
          height: 0px;
          order: 0;
          -webkit-order: 0;
          -ms-flex-order: 0;
          position: absolute;
          top:0;
          left:0;
      }
  
      .logo{
          padding: 14px 5px;
      }
  
      .small-menu{
          order: 1;
          -webkit-order: 1;
          -ms-flex-order: 1;
      }
  
      .info-block-item, .info-block-image {
          width: 100%;
      }

      .info-block-item{
          height: inherit;
      }
  
      .card{
          width: 100%;
      }
  }
  
  @media only screen and (min-width: 489px) and (max-width: 900px) {
    .info-block-item, .info-block-image {
          width: 100%;
      }

      .info-block-item{
        height: inherit;
    }
  
      .card{
          width: 100%;
      }
  }
  
  @media only screen and (min-width: 490px) {
      .small-menu{
          visibility:hidden;
          width: 0px;
          height: 0px;
      }
  }

  @media only screen and (min-width: 1200px) {
    .schedule-slider {
        width: 470px;
    }
}

  @media only screen and (max-width: 900px) {
    .form-container {
        width: 95%;
        align-self: center;
    }

    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row select,
    .form-row textarea {
      width: 100%;
    }

    .main-footer {
        flex-direction: column-reverse;
    }

    .map-card, .schedule-container, .contact-info {
        margin-bottom: 10px;
    }
}

  @media only screen and (min-width: 901px) {
    .form-row {
        flex-direction: row;
        align-items: flex-start; /* To avoid stretching */
        margin-bottom: 20px;
      }

    .form-row label {
        margin-top: 7px;
        margin-bottom: 0px;
    }

    .form-row textarea {
        width: 100%;
        margin-top: 5px;
    }
  }

  @media only screen and (min-width: 1100px) {
    .main-label{
        font-size: 3.3em;
    }
    
    .sub-label{
        font-size: 2.5em;
        padding: 14px 28px;
    }
  }
  
  @media only screen and (min-width: 1600px) {
    .main-label{
        font-size: 3.8em;
    }
    
    .sub-label{
        font-size: 3em;
        padding: 14px 33px;
    }
  }

  @media only screen and (min-width: 2100px) {
    .main-label{
        font-size: 4.3em;
    }
    
    .sub-label{
        font-size: 3em;
        padding: 14px 38px;
    }
  }
  
  @font-face {
      font-family: fredoka;
      src: url(FredokaOne-Regular.ttf);
      font-display: swap;
  }