@font-face {
    font-family: fredoka;
    src: url(../fonts/FredokaOne-Regular.ttf);
    font-display: swap;
  }

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}

.main-header{
  width: 100%;
  background-color: #005096;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
}

.logo{
    display:flex;
    padding:14px 22px;
    margin: 5px 5px;
}

.logo-caption{
    font-size: 18px;
    font-family: fredoka, Arial;
    padding-left: 5px;
    color: white;
}

.small-menu{
    align-self: flex-end;
    color: white;
    padding:14px 22px;
    margin: 5px 5px;
}

.main-menu{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.main-menu li{
  background-color: #005096;
  padding: 14px 16px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  text-align:center;
  font-size: 16px;
  font-family: fredoka;
  cursor: pointer;
  margin: 5px 5px;
  display: inline-block;
  transition: 0.5s;
}

.main-menu li:hover{
  background-color: #0b70c5;
}

.home{
    background-image: url(../images/wide-john.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.main-label{
    background-color: #005096;
    padding: 14px 36px;
    border-radius: 50px;
    color: white;
    font-size: 36px;
    font-family: fredoka;
    margin: 5px 5px;
}

.sub-label{
    background-color: #005096;
    padding: 14px 22px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-family: fredoka;
    margin: 5px 5px;
}

.info-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.info-block-item{
    min-height: 500px;
    width: 50%;
}

.info-block-image{
    width: 100%;
    height: 100%;
}

.info-block-h1{
    padding-left: 10px;
    color: white;
    font-size: 26px;
    font-family: fredoka, Arial;

}

@media only screen and (max-width:489px) {
    .home{
        background-image: url('../images/small-john.jpg');
    }

    .main-menu {
        visibility:hidden;
        width: 0px;
        height: 0px;
        order: 0;
    }

    .logo{
        padding: 14px 5px;
    }

    .small-menu{
        order: 1;
    }


}

@media only screen and (min-width: 490px) {
    .small-menu{
        visibility:hidden;
        width: 0px;
        height: 0px;
    }
}
